__pycache__/funciones.cpython-310.pyc
__pycache__/NLPParser.cpython-310.pyc
ComponentExtractors/__pycache__/
ComponentExtractors/__pycache__/EntitiesExtractor.cpython-310.pyc
General/__pycache__/funciones.cpython-310.pyc
General/__pycache__/NLPParser.cpython-310.pyc
Generators/__pycache__/DiagramFileGenerator.cpython-310.pyc
venv/
.idea/
